In [2]:
import pandas as pd

In [48]:
data_scores = pd.read_csv('https://raw.githubusercontent.com/Christian-F-Badillo/Profesor_Resume/refs/heads/master/data/reviews_plus_score.csv')
data_reviews = pd.read_csv('https://raw.githubusercontent.com/Christian-F-Badillo/Profesor_Resume/refs/heads/master/data/summaries.csv')
data_tags = pd.read_csv('https://raw.githubusercontent.com/Christian-F-Badillo/Profesor_Resume/refs/heads/master/data/merged_tags.csv')
data_rating = pd.read_csv('https://raw.githubusercontent.com/Christian-F-Badillo/Profesor_Resume/refs/heads/master/data/tabla_profesores.csv')
data_enlaces_origin = pd.read_csv('https://raw.githubusercontent.com/Christian-F-Badillo/Profesor_Resume/refs/heads/master/data/enlaces_profesores_clean.csv')

In [5]:
data_scores.head()

,profesor,fecha,comentario,calidad_general,facilidad,review,rating
0,"Abrego González, Leticia",31/Jul/2015,nunca asiste o llega tarde se la pasa comiendo...,4.0,8.0,nunca asiste o llega tarde se la pasa comiendo...,1 star
1,"Abrego González, Leticia",09/Jul/2015,"casi nunca va, y cuando va deja tareas en equi...",6.0,10.0,"casi nunca va, y cuando va deja tareas en equi...",1 star
2,"Abrego González, Leticia",25/Jul/2014,"Es una maestra pésima, me tocó en la práctica ...",2.0,6.0,"Es una maestra pésima, me tocó en la práctica ...",1 star
3,"Abrego González, Leticia",08/Jul/2014,"No asiste, no le interesa que aprendas, no te ...",3.0,6.0,"No asiste, no le interesa que aprendas, no te ...",1 star
4,"Abrego González, Leticia",08/Jul/2014,"No asiste, no le interesa que aprendas, no te ...",3.0,6.0,"No asiste, no le interesa que aprendas, no te ...",1 star

In [12]:
scores = data_scores.drop(columns=['comentario', 'review']).copy()
scores.head()

                   profesor        fecha  calidad_general  facilidad  rating
0  Abrego González, Leticia  31/Jul/2015              4.0        8.0  1 star
1  Abrego González, Leticia  09/Jul/2015              6.0       10.0  1 star
2  Abrego González, Leticia  25/Jul/2014              2.0        6.0  1 star
3  Abrego González, Leticia  08/Jul/2014              3.0        6.0  1 star
4  Abrego González, Leticia  08/Jul/2014              3.0        6.0  1 star

In [13]:
# Stars Dict
map_stars = {
    "1 star": 1,
    "2 stars": 2,
    "3 stars": 3,
    "4 stars": 4,
    "5 stars": 5
}

scores['rating'] = scores['rating'].map(map_stars)
scores.head()

                   profesor        fecha  calidad_general  facilidad  rating
0  Abrego González, Leticia  31/Jul/2015              4.0        8.0       1
1  Abrego González, Leticia  09/Jul/2015              6.0       10.0       1
2  Abrego González, Leticia  25/Jul/2014              2.0        6.0       1
3  Abrego González, Leticia  08/Jul/2014              3.0        6.0       1
4  Abrego González, Leticia  08/Jul/2014              3.0        6.0       1

In [14]:
# Capitalizamos los nombres de los profesores
scores['profesor'] = scores['profesor'].str.title()
scores.head()

                   profesor        fecha  calidad_general  facilidad  rating
0  Abrego González, Leticia  31/Jul/2015              4.0        8.0       1
1  Abrego González, Leticia  09/Jul/2015              6.0       10.0       1
2  Abrego González, Leticia  25/Jul/2014              2.0        6.0       1
3  Abrego González, Leticia  08/Jul/2014              3.0        6.0       1
4  Abrego González, Leticia  08/Jul/2014              3.0        6.0       1

In [21]:
# Pasamos a Wide format nuestros scores, poniendo la información en forma de cadena de texto separada por comas
scores_wide_rating = scores.groupby('profesor')['rating'].apply(lambda x: ', '.join(map(str, x))).reset_index()
scores_wide_date = scores.groupby('profesor')['fecha'].apply(lambda x: ', '.join(map(str, x))).reset_index()
scores_wide_calidad = scores.groupby('profesor')['calidad_general'].apply(lambda x: ', '.join(map(str, x))).reset_index()
scores_wide_facilidad = scores.groupby('profesor')['facilidad'].apply(lambda x: ', '.join(map(str, x))).reset_index()

In [33]:
scores_wide = pd.merge(scores_wide_rating, scores_wide_date, on='profesor')
scores_wide = pd.merge(scores_wide, scores_wide_calidad, on='profesor')
scores_wide = pd.merge(scores_wide, scores_wide_facilidad, on='profesor')
scores_wide.head()

,profesor,rating,fecha,calidad_general,facilidad
0,"A. Mason, Tere","1, 4","04/Nov/2024, 23/Ene/2024","4.0, 6.0","6.0, 8.0"
1,"Abrego González, Leticia","1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1...","31/Jul/2015, 09/Jul/2015, 25/Jul/2014, 08/Jul/...","4.0, 6.0, 2.0, 3.0, 3.0, 2.0, 2.0, 2.0, 2.0, 3...","8.0, 10.0, 6.0, 6.0, 6.0, 8.0, 8.0, 10.0, 10.0..."
2,"Acosta Galván, Samuel","5, 3, 4, 1, 1, 2, 2, 4, 5, 4, 4, 4, 4, 5, 5, 5...","12/Ago/2024, 14/Ene/2024, 13/Ene/2024, 27/Jul/...","8.0, 9.0, 8.0, 3.0, 5.0, 5.0, 4.0, 10.0, 10.0,...","10.0, 6.0, 8.0, 8.0, 10.0, 6.0, 10.0, 6.0, 10...."
3,"Acuña, Laura","5, 4, 5, 4, 4, 4, 1, 1, 5, 5, 4, 4, 1, 1, 5, 5...","30/Jun/2024, 30/Jul/2021, 09/Ago/2018, 17/Ago/...","8.0, 9.0, 10.0, 8.0, 9.0, 9.0, 2.0, 2.0, 2.0, ...","8.0, 8.0, 10.0, 10.0, 10.0, 10.0, 2.0, 2.0, 10..."
4,"Aguayo, Alejandra","1, 3, 5, 5, 5, 5, 1, 3, 5, 4, 5, 2","30/Nov/2019, 11/Nov/2019, 16/Jul/2018, 30/Jun/...","2.0, 2.0, 10.0, 9.0, 10.0, 9.0, 2.0, 8.0, 9.0,...","10.0, 2.0, 6.0, 6.0, 6.0, 10.0, 10.0, 6.0, 6.0..."

In [34]:
# Combinamos con tags pero primero capitalizamos los nombres de los profesores
data_tags['profesor'] = data_tags['profesor'].str.title()
scores_wide = pd.merge(scores_wide, data_tags, on='profesor', how='left')
scores_wide.head()

,profesor,rating,fecha,calidad_general,facilidad,tags
0,"A. Mason, Tere","1, 4","04/Nov/2024, 23/Ene/2024","4.0, 6.0","6.0, 8.0","ASPECTOS DE CALIFICACIÓN CLAROS, MUCHOS EXÁMEN..."
1,"Abrego González, Leticia","1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1...","31/Jul/2015, 09/Jul/2015, 25/Jul/2014, 08/Jul/...","4.0, 6.0, 2.0, 3.0, 3.0, 2.0, 2.0, 2.0, 2.0, 3...","8.0, 10.0, 6.0, 6.0, 6.0, 8.0, 8.0, 10.0, 10.0...","BARCO, LA PARTICIPACIÓN IMPORTA, LOS EXÁMENES ..."
2,"Acosta Galván, Samuel","5, 3, 4, 1, 1, 2, 2, 4, 5, 4, 4, 4, 4, 5, 5, 5...","12/Ago/2024, 14/Ene/2024, 13/Ene/2024, 27/Jul/...","8.0, 9.0, 8.0, 3.0, 5.0, 5.0, 4.0, 10.0, 10.0,...","10.0, 6.0, 8.0, 8.0, 10.0, 6.0, 10.0, 6.0, 10....","ASPECTOS DE CALIFICACIÓN CLAROS, BARCO, PREPÁR..."
3,"Acuña, Laura","5, 4, 5, 4, 4, 4, 1, 1, 5, 5, 4, 4, 1, 1, 5, 5...","30/Jun/2024, 30/Jul/2021, 09/Ago/2018, 17/Ago/...","8.0, 9.0, 10.0, 8.0, 9.0, 9.0, 2.0, 2.0, 2.0, ...","8.0, 8.0, 10.0, 10.0, 10.0, 10.0, 2.0, 2.0, 10...","ASPECTOS DE CALIFICACIÓN CLAROS, BARCO, DA BUE..."
4,"Aguayo, Alejandra","1, 3, 5, 5, 5, 5, 1, 3, 5, 4, 5, 2","30/Nov/2019, 11/Nov/2019, 16/Jul/2018, 30/Jun/...","2.0, 2.0, 10.0, 9.0, 10.0, 9.0, 2.0, 8.0, 9.0,...","10.0, 2.0, 6.0, 6.0, 6.0, 10.0, 10.0, 6.0, 6.0...","ASPECTOS DE CALIFICACIÓN CLAROS, BARCO, TOMARÍ..."

In [28]:
data_rating.drop(columns=['dep'], inplace=True)
data_rating.head()

                               profesor  num_reviews  rating
0       - AMLO 2018, nuestro precidente           78     6.2
1                     ..., Paola Eunice            8    10.0
2  45675094, Rodolfo Márquez 4 567 5094            1    10.0
3                        A. Mason, Tere            3     6.7
4              Abrego González, Leticia           14     3.6

In [30]:
data_rating.columns = ['profesor', 'num_reviews', 'promedio']
data_rating['profesor'] = data_rating['profesor'].str.title()
data_rating.head()

                               profesor  num_reviews  promedio
0       - Amlo 2018, Nuestro Precidente           78       6.2
1                     ..., Paola Eunice            8      10.0
2  45675094, Rodolfo Márquez 4 567 5094            1      10.0
3                        A. Mason, Tere            3       6.7
4              Abrego González, Leticia           14       3.6

In [35]:
scores_wide = pd.merge(scores_wide, data_rating, on='profesor', how='left')

In [36]:
scores_wide.head()

,profesor,rating,fecha,calidad_general,facilidad,tags,num_reviews,promedio
0,"A. Mason, Tere","1, 4","04/Nov/2024, 23/Ene/2024","4.0, 6.0","6.0, 8.0","ASPECTOS DE CALIFICACIÓN CLAROS, MUCHOS EXÁMEN...",3,6.7
1,"Abrego González, Leticia","1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1...","31/Jul/2015, 09/Jul/2015, 25/Jul/2014, 08/Jul/...","4.0, 6.0, 2.0, 3.0, 3.0, 2.0, 2.0, 2.0, 2.0, 3...","8.0, 10.0, 6.0, 6.0, 6.0, 8.0, 8.0, 10.0, 10.0...","BARCO, LA PARTICIPACIÓN IMPORTA, LOS EXÁMENES ...",14,3.6
2,"Acosta Galván, Samuel","5, 3, 4, 1, 1, 2, 2, 4, 5, 4, 4, 4, 4, 5, 5, 5...","12/Ago/2024, 14/Ene/2024, 13/Ene/2024, 27/Jul/...","8.0, 9.0, 8.0, 3.0, 5.0, 5.0, 4.0, 10.0, 10.0,...","10.0, 6.0, 8.0, 8.0, 10.0, 6.0, 10.0, 6.0, 10....","ASPECTOS DE CALIFICACIÓN CLAROS, BARCO, PREPÁR...",18,7.3
3,"Acuña, Laura","5, 4, 5, 4, 4, 4, 1, 1, 5, 5, 4, 4, 1, 1, 5, 5...","30/Jun/2024, 30/Jul/2021, 09/Ago/2018, 17/Ago/...","8.0, 9.0, 10.0, 8.0, 9.0, 9.0, 2.0, 2.0, 2.0, ...","8.0, 8.0, 10.0, 10.0, 10.0, 10.0, 2.0, 2.0, 10...","ASPECTOS DE CALIFICACIÓN CLAROS, BARCO, DA BUE...",27,6.2
4,"Aguayo, Alejandra","1, 3, 5, 5, 5, 5, 1, 3, 5, 4, 5, 2","30/Nov/2019, 11/Nov/2019, 16/Jul/2018, 30/Jun/...","2.0, 2.0, 10.0, 9.0, 10.0, 9.0, 2.0, 8.0, 9.0,...","10.0, 2.0, 6.0, 6.0, 6.0, 10.0, 10.0, 6.0, 6.0...","ASPECTOS DE CALIFICACIÓN CLAROS, BARCO, TOMARÍ...",13,7.2

In [ ]:
# Combinamos con los resumenes de los profesores
data_reviews['profesor'] = data_reviews['profesor'].str.title()
scores_wide = pd.merge(scores_wide, data_reviews, on='profesor', how ='left')

,profesor,rating,fecha,calidad_general,facilidad,tags,num_reviews,promedio,resumen
0,"A. Mason, Tere","1, 4","04/Nov/2024, 23/Ene/2024","4.0, 6.0","6.0, 8.0","ASPECTOS DE CALIFICACIÓN CLAROS, MUCHOS EXÁMEN...",3,6.7,La profesora no da las clases en persona y no ...
1,"Abrego González, Leticia","1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1...","31/Jul/2015, 09/Jul/2015, 25/Jul/2014, 08/Jul/...","4.0, 6.0, 2.0, 3.0, 3.0, 2.0, 2.0, 2.0, 2.0, 3...","8.0, 10.0, 6.0, 6.0, 6.0, 8.0, 8.0, 10.0, 10.0...","BARCO, LA PARTICIPACIÓN IMPORTA, LOS EXÁMENES ...",14,3.6,La estudiante describe una experiencia negativ...
2,"Acosta Galván, Samuel","5, 3, 4, 1, 1, 2, 2, 4, 5, 4, 4, 4, 4, 5, 5, 5...","12/Ago/2024, 14/Ene/2024, 13/Ene/2024, 27/Jul/...","8.0, 9.0, 8.0, 3.0, 5.0, 5.0, 4.0, 10.0, 10.0,...","10.0, 6.0, 8.0, 8.0, 10.0, 6.0, 10.0, 6.0, 10....","ASPECTOS DE CALIFICACIÓN CLAROS, BARCO, PREPÁR...",18,7.3,La clase de Psicología Jurídica fue impartida ...
3,"Acuña, Laura","5, 4, 5, 4, 4, 4, 1, 1, 5, 5, 4, 4, 1, 1, 5, 5...","30/Jun/2024, 30/Jul/2021, 09/Ago/2018, 17/Ago/...","8.0, 9.0, 10.0, 8.0, 9.0, 9.0, 2.0, 2.0, 2.0, ...","8.0, 8.0, 10.0, 10.0, 10.0, 10.0, 2.0, 2.0, 10...","ASPECTOS DE CALIFICACIÓN CLAROS, BARCO, DA BUE...",27,6.2,"La clase de la Dra. es muy relajada y fácil, p..."
4,"Aguayo, Alejandra","1, 3, 5, 5, 5, 5, 1, 3, 5, 4, 5, 2","30/Nov/2019, 11/Nov/2019, 16/Jul/2018, 30/Jun/...","2.0, 2.0, 10.0, 9.0, 10.0, 9.0, 2.0, 8.0, 9.0,...","10.0, 2.0, 6.0, 6.0, 6.0, 10.0, 10.0, 6.0, 6.0...","ASPECTOS DE CALIFICACIÓN CLAROS, BARCO, TOMARÍ...",13,7.2,"El texto resume opiniones sobre una profesora,..."

In [40]:
scores_wide.head()

,profesor,rating,fecha,calidad_general,facilidad,tags,num_reviews,promedio,resumen
0,"A. Mason, Tere","1, 4","04/Nov/2024, 23/Ene/2024","4.0, 6.0","6.0, 8.0","ASPECTOS DE CALIFICACIÓN CLAROS, MUCHOS EXÁMEN...",3,6.7,La profesora no da las clases en persona y no ...
1,"Abrego González, Leticia","1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1...","31/Jul/2015, 09/Jul/2015, 25/Jul/2014, 08/Jul/...","4.0, 6.0, 2.0, 3.0, 3.0, 2.0, 2.0, 2.0, 2.0, 3...","8.0, 10.0, 6.0, 6.0, 6.0, 8.0, 8.0, 10.0, 10.0...","BARCO, LA PARTICIPACIÓN IMPORTA, LOS EXÁMENES ...",14,3.6,La estudiante describe una experiencia negativ...
2,"Acosta Galván, Samuel","5, 3, 4, 1, 1, 2, 2, 4, 5, 4, 4, 4, 4, 5, 5, 5...","12/Ago/2024, 14/Ene/2024, 13/Ene/2024, 27/Jul/...","8.0, 9.0, 8.0, 3.0, 5.0, 5.0, 4.0, 10.0, 10.0,...","10.0, 6.0, 8.0, 8.0, 10.0, 6.0, 10.0, 6.0, 10....","ASPECTOS DE CALIFICACIÓN CLAROS, BARCO, PREPÁR...",18,7.3,La clase de Psicología Jurídica fue impartida ...
3,"Acuña, Laura","5, 4, 5, 4, 4, 4, 1, 1, 5, 5, 4, 4, 1, 1, 5, 5...","30/Jun/2024, 30/Jul/2021, 09/Ago/2018, 17/Ago/...","8.0, 9.0, 10.0, 8.0, 9.0, 9.0, 2.0, 2.0, 2.0, ...","8.0, 8.0, 10.0, 10.0, 10.0, 10.0, 2.0, 2.0, 10...","ASPECTOS DE CALIFICACIÓN CLAROS, BARCO, DA BUE...",27,6.2,"La clase de la Dra. es muy relajada y fácil, p..."
4,"Aguayo, Alejandra","1, 3, 5, 5, 5, 5, 1, 3, 5, 4, 5, 2","30/Nov/2019, 11/Nov/2019, 16/Jul/2018, 30/Jun/...","2.0, 2.0, 10.0, 9.0, 10.0, 9.0, 2.0, 8.0, 9.0,...","10.0, 2.0, 6.0, 6.0, 6.0, 10.0, 10.0, 6.0, 6.0...","ASPECTOS DE CALIFICACIÓN CLAROS, BARCO, TOMARÍ...",13,7.2,"El texto resume opiniones sobre una profesora,..."

In [49]:
# Combinamos con los enlaces de los profesores
data_enlaces_origin['name'] = data_enlaces_origin['name'].str.title()
data_enlaces_origin.columns = ['enlace', 'profesor']
data_enlaces_origin.head()

                                              enlace                  profesor
0  https://www.misprofesores.com/profesores/Tere-...            A. Mason, Tere
1  https://www.misprofesores.com/profesores/Letic...  Abrego Gonzalez, Leticia
2  https://www.misprofesores.com/profesores/Samue...     Acosta Galvan, Samuel
3  https://www.misprofesores.com/profesores/Beren...          Acosta, Berenice
4  https://www.misprofesores.com/profesores/Laura...              Acuna, Laura

In [50]:
# Hacemos el merge final con los enlaces
scores_wide = pd.merge(scores_wide, data_enlaces_origin, on='profesor', how='left')

In [51]:
scores_wide.head(20)

,profesor,rating,fecha,calidad_general,facilidad,tags,num_reviews,promedio,resumen,enlace
0,"A. Mason, Tere","1, 4","04/Nov/2024, 23/Ene/2024","4.0, 6.0","6.0, 8.0","ASPECTOS DE CALIFICACIÓN CLAROS, MUCHOS EXÁMEN...",3,6.7,La profesora no da las clases en persona y no ...,https://www.misprofesores.com/profesores/Tere-...
1,"Abrego González, Leticia","1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1...","31/Jul/2015, 09/Jul/2015, 25/Jul/2014, 08/Jul/...","4.0, 6.0, 2.0, 3.0, 3.0, 2.0, 2.0, 2.0, 2.0, 3...","8.0, 10.0, 6.0, 6.0, 6.0, 8.0, 8.0, 10.0, 10.0...","BARCO, LA PARTICIPACIÓN IMPORTA, LOS EXÁMENES ...",14,3.6,La estudiante describe una experiencia negativ...,NaN
2,"Acosta Galván, Samuel","5, 3, 4, 1, 1, 2, 2, 4, 5, 4, 4, 4, 4, 5, 5, 5...","12/Ago/2024, 14/Ene/2024, 13/Ene/2024, 27/Jul/...","8.0, 9.0, 8.0, 3.0, 5.0, 5.0, 4.0, 10.0, 10.0,...","10.0, 6.0, 8.0, 8.0, 10.0, 6.0, 10.0, 6.0, 10....","ASPECTOS DE CALIFICACIÓN CLAROS, BARCO, PREPÁR...",18,7.3,La clase de Psicología Jurídica fue impartida ...,NaN
3,"Acuña, Laura","5, 4, 5, 4, 4, 4, 1, 1, 5, 5, 4, 4, 1, 1, 5, 5...","30/Jun/2024, 30/Jul/2021, 09/Ago/2018, 17/Ago/...","8.0, 9.0, 10.0, 8.0, 9.0, 9.0, 2.0, 2.0, 2.0, ...","8.0, 8.0, 10.0, 10.0, 10.0, 10.0, 2.0, 2.0, 10...","ASPECTOS DE CALIFICACIÓN CLAROS, BARCO, DA BUE...",27,6.2,"La clase de la Dra. es muy relajada y fácil, p...",NaN
4,"Aguayo, Alejandra","1, 3, 5, 5, 5, 5, 1, 3, 5, 4, 5, 2","30/Nov/2019, 11/Nov/2019, 16/Jul/2018, 30/Jun/...","2.0, 2.0, 10.0, 9.0, 10.0, 9.0, 2.0, 8.0, 9.0,...","10.0, 2.0, 6.0, 6.0, 6.0, 10.0, 10.0, 6.0, 6.0...","ASPECTOS DE CALIFICACIÓN CLAROS, BARCO, TOMARÍ...",13,7.2,"El texto resume opiniones sobre una profesora,...",https://www.misprofesores.com/profesores/Aleja...
5,"Aguilar Arredondo, Andrea",4,06/Jul/2016,9.0,10.0,"TOMARÍA SU CLASE OTRA VEZ, BRINDA APOYO, CLASE...",1,9.0,"La profesora es excelente, sus explicaciones s...",https://www.misprofesores.com/profesores/Andre...
6,"Aguilar Nery, Jesús",4,10/Jun/2016,9.0,8.0,"TOMARÍA SU CLASE OTRA VEZ, DA BUENA RETROALIME...",1,9.0,"Como profesor, es agradable y sus clases son c...",NaN
7,"Aguilar Ribera, Unibercidad.Autónoma De Mexico",4,21/Abr/2021,10.0,10.0,HACE EXÁMENES SORPRESA,1,10.0,Un grupo de estudiantes comenzó la escuela sup...,NaN
8,"Alatorre Rico, Javier","3, 3, 4, 4, 1, 1, 1, 1, 1, 1, 3, 3, 4, 4, 1, 1...","30/May/2025, 30/May/2025, 25/Ene/2024, 25/Ene/...","4.0, 4.0, 5.0, 5.0, 3.0, 3.0, 4.0, 4.0, 2.0, 2...","4.0, 4.0, 2.0, 2.0, 6.0, 6.0, 4.0, 4.0, 2.0, 2...","BARCO, MUCHAS TAREAS, PREPÁRATE PARA LEER, DA ...",89,5.4,"En general, los estudiantes recomiendan trabaj...",https://www.misprofesores.com/profesores/javie...
9,"Alburquerque, Carlos","4, 4, 5, 4, 5, 5, 5, 5, 5, 5, 2, 4, 1, 3, 1, 1...","16/Feb/2025, 05/Jun/2024, 25/Ene/2024, 08/Dic/...","8.0, 7.0, 10.0, 10.0, 10.0, 10.0, 10.0, 9.0, 2...","8.0, 2.0, 6.0, 6.0, 10.0, 10.0, 10.0, 6.0, 8.0...","BARCO, PREPÁRATE PARA LEER, DA BUENA RETROALIM...",88,7.3,La clase de primer semestre es evaluada de man...,https://www.misprofesores.com/profesores/Carlo...
10,"Alcalá Herrera, Verónica Ma. Del Consuelo","1, 1, 2, 3, 2, 5, 3, 3, 2, 4, 4, 4, 4, 4, 4, 4...","01/May/2025, 09/Ene/2025, 18/Jul/2024, 23/Ene/...","2.0, 2.0, 5.0, 5.0, 3.0, 9.0, 5.0, 5.0, 7.0, 8...","2.0, 4.0, 4.0, 8.0, 4.0, 4.0, 6.0, 4.0, 6.0, 4...","MUCHOS PROYECTOS GRUPALES, CALIFICA DURO, RESP...",114,5.3,El texto describe la experiencia de varios est...,NaN
11,"Almaguer Azpeitia, Mariel","5, 5, 5, 5, 5, 5, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5...","17/Jun/2024, 17/Jun/2024, 28/Ene/2024, 28/Ene/...","10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0...","10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 8.0, 8.0, ...","ASPECTOS DE CALIFICACIÓN CLAROS, BARCO, MUCHAS...",14,9.3,La profesora es excelente. Sus clases son diná...,https://www.misprofesores.com/profesores/Marie...
12,"Almaguer Salcido, Carol",4,14/Nov/2023,5.0,2.0,"MUCHAS TAREAS, LAS CLASES SON LARGAS, DEJA TRA...",1,5.0,"Resumen: La miss Carol, una profesora, mantien...",https://www.misprofesores.com/profesores/Carol...
13,"Almaguer, Carol",5,02/May/2023,3.0,2.0,"MUCHOS EXÁMENES, MUCHAS TAREAS, LOS EXÁMENES S...",1,3.0,"14 . Resumen: La miss Carol, una profesora, ma...",https://www.misprofesores.com/profesores/Carol...
14,"Almazán Rojas, Carla Ailed","5, 2, 5, 5","17/Jul/2025, 07/Ago/2024, 27/Abr/2023, 18/Ene/...","3.0, 2.0, 10.0, 10.0","4.0, 4.0, 4.0, 6.0","MUCHAS TAREAS, DA BUENA RETROALIMENTACIÓN, CLA...",4,6.3,"Prepara para realizar múltiples trabajos, pero...",NaN
15,"Alonso Orozco, Adriana Ixel","5, 5, 5, 5, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 4, 4...","30/May/2025, 30/May/2025, 16/Dic/2024, 16/Dic/...","10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0...","10.0, 10.0, 10.0, 10.0, 8.0, 8.0, 10.0, 10.0, ...","ASPECTOS DE CALIFICACIÓN CLAROS, BARCO, PREPÁR...",16,9.8,"La profesora es muy buena, con mucha paciencia...",https://www.misprofesores.com/profesores/Adria...
16,"Alva Canto, Elda Alicia",1,30/Jun/2016,2.0,2.0,"ASISTENCIA OBLIGATORIA, PREPÁRATE PARA LEER, L...",1,2.0,"La profesora no asiste a clases, el curso es i...",https://www.misprofesores.com/profesores/Elda-...
17,"Alvarado Tenorio, Roberto","5, 5, 5, 4","08/Feb/2013, 10/Ene/2012, 07/Jul/2011, 13/Ene/...","10.0, 10.0, 10.0, 9.0","8.0, 10.0, 10.0, 10.0",NaN,5,9.8,"Es un buen profesor, ordenado y accesible. Aun...",https://www.misprofesores.com/profesores/Rober...
18,"Alvarez Martinez, Jorge","5, 5, 3, 1, 1, 5","01/Sep/2021, 19/Feb/2021, 15/Ene/2021, 18/Sep/...","9.0, 10.0, 8.0, 2.0, 5.0, 5.0","6.0, 10.0, 8.0, 10.0, 10.0, 10.0","BARCO, LA PARTICIPACIÓN IMPORTA, TOMARÍA SU CL...",9,6.3,"El autor expresa su decepción con el profesor,...",https://www.misprofesores.com/profesores/Jorge...
19,"Alvarez, German",4,19/Feb/2022,8.0,6.0,"ASPECTOS DE CALIFICACIÓN CLAROS, INSPIRACIONAL...",1,8.0,El profesor es comprensivo y dedicado a sus al...,https://www.misprofesores.com/profesores/Germa...

In [52]:
# Guardamos todo en un CSV
scores_wide.to_csv('professor_data.csv', index=False)